extends layout

block content
  form.form(method='POST')
    h2 Reset your Password
    label(for="name") Password
    input(type="password" name="password")
    label(for="name") Confirm Password
    input(type="password" name="password-confirm")
    input.button(type="submit" value="Reset Password → ")
